<section class="hero-container">
  <div class="hero-content">
    <span class="greeting">Hello <span class="dot">.</span></span>

    <div class="intro-box">
      <span class="line"></span>
      <span class="im-text">I'm Eric</span>
    </div>

    <h1 class="main-title">Software Developer</h1>

    <div class="hero-buttons">
      <a class="btn-primary" mat-button href="#contact">
        Tem um Projeto?
      </a>

      <a class="btn-outline" mat-button href="/resume.pdf" target="_blank">
        Meu Currículo
      </a>    
    </div>
  </div>

  <div class="hero-image">
    <div class="circle-bg"></div>

    <img src="https://github.com/ericoliveirajs.png" alt="Eric Oliveira" class="profile-pic">
  </div>
</section>

<div class="tech-ticker">
  <span>Angular</span>
  <span>Nest.js</span>
  <span>TypeScript</span>
  <span>AWS</span>
  <span>Docker</span>
  <span>Node.js</span>
</div>