<div class="hero-container">
  <mat-card class="hero-card">
    <mat-card-header>
      </mat-card-header>
    <mat-card-content>
      <h1>ERIC OLIVEIRA</h1>
      <h2>Engenheiro de Software Full Stack</h2>
      <p>"Construindo soluções robustas de ponta a ponta, focado em arquitetura escalável (SOLID) e qualidade de código."</p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button color="primary" href="LINK_DO_SEU_LINKEDIN" target="_blank">
        Conecte-se no LinkedIn
      </a>
      </mat-card-actions>
  </mat-card>
</div>