@use '@angular/material' as mat;

html {
  @include mat.theme((color: (primary: mat.$azure-palette,
        tertiary: mat.$blue-palette,
      ),
      typography: Roboto,
      density: 0,
    ));
}

:root {
  --bg-dark: #11141d;
  --bg-card: #1f232e;
  --text-white: #ffffff;
  --text-gray: #a9adb8;
  --accent-color: #ff6b6b;
  --font-primary: 'Roboto', sans-serif;
}

body {
  color-scheme: dark;

  background-color: var(--bg-dark);
  color: var(--text-white);
  font-family: var(--font-primary);

  margin: 0;
  overflow-x: hidden;
}

html,
body {
  height: 100%;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
}